/* Colors
=================== */
/* Box shadow
=================== */
/* Fonts
=================== */
/* Media queries
=================== */
/* General styles
 ===================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  color: #fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif; }

a {
  text-decoration: none;
  color: #000; }

ul,
li {
  list-style: none; }

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto; }

.btn {
  background-color: #949494;
  transition: box-shadow .3s linear, background-color .3s linear;
  border: none;
  font-size: 1.7rem;
  padding: .5em 2em;
  font-family: inherit;
  color: #fff;
  border-radius: .3em;
  min-width: 200px; }
  .btn:focus {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    outline: none; }
  .btn:hover {
    cursor: pointer;
    background-color: #616161; }

.input {
  font-size: 1.4rem;
  padding: .7em 2em;
  border: 1px solid #EAEAEA;
  border-radius: .3em;
  transition: box-shadow .3s linear; }
  .input:focus {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    outline: none; }

/* Installment
===================*/
.installment {
  margin: 2rem auto; }
  .installment__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto; }
    @media (max-width: 805px) {
      .installment__content {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }

.installment-left {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  background-color: #2A6792;
  padding: 2rem;
  border: 1px solid #EAEAEA;
  border-right: 0;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  overflow-x: auto; }
  @media (max-width: 805px) {
    .installment-left {
      -webkit-flex-basis: 95%;
      -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
      border-radius: 1.5rem;
      margin-bottom: 2rem;
      border: none; } }
  .installment-left__h3 {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center; }
  .installment-left__h4 {
    font-size: 1.8rem;
    text-align: center;
    margin: 1rem 0;
    font-weight: 400; }
  .installment-left__h5 {
    font-size: 1.6rem;
    margin: 1rem 0;
    text-align: center;
    font-weight: 400; }
  .installment-left__content {
    min-width: 380px;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA; }
  .installment-left__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #81A0B9; }
  .installment-left__title {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    font-weight: 700; }
  .installment-left__value {
    -webkit-flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    font-weight: 300;
    text-align: right; }

.installment-right {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  border: 1px solid #EAEAEA;
  padding: 2rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-left: 0; }
  @media (max-width: 805px) {
    .installment-right {
      -webkit-flex-basis: 95%;
      -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
      border-radius: 1.5rem; } }
  .installment-right__h4 {
    color: #191919;
    font-weight: 400;
    margin-bottom: .7rem; }

.installment-form__input {
  width: 100%; }
  .installment-form__input input {
    width: 100%; }

.installment-form__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 2rem 0; }

/* Footer
===================*/
.footer {
  color: #949494;
  font-size: 1.3rem;
  padding: 2rem 0; }
  .footer__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

@media (max-width: 400px) {
  .footer-left {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center; } }

.footer-left__copy {
  margin-bottom: .7rem; }

.footer-left__tel a {
  color: #949494; }
  @media (max-width: 350px) {
    .footer-left__tel a {
      display: block;
      margin-top: .7rem; } }

@media (max-width: 400px) {
  .footer-right {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-top: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; } }
