/* Colors
=================== */
$accent: #2A6792;
$dark: #191919;
$gray: #949494;
$light: #EAEAEA;
$light-x: #81A0B9;
$white: #fff;
/* Box shadow
=================== */
$shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
/* Fonts
=================== */

$text: 'Lato',
sans-serif;
$heading: 'Lato',
sans-serif;

/* Media queries
=================== */
$tablet: 995px;
$tablet-sm: 805px;
$mobile: 670px;
$mobile-sm: 400px;
$mobile-xs: 350px;